﻿@model IEnumerable<BlogPost>


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1>Wellcome @ViewBag.User.Name</h1>
        <div class="col-md-8 left-side-sidebar">
            <div class="clearfix mt-40">
                @if (ViewBag.User.Role == "Writer")
                {
                    <input type="button" id="btnCreatePost" class="btn-primary bg-success" value="New Post" />                    
                }
                <div id="createForm" style="display: none;">
		            <form id="formCreatePost" asp-controller="BlogEngine" asp-action="CreatePost" method="post">
			            <input type="hidden" id="Author" name="Author" value="@ViewBag.User.UserName" />
			            <div class="row">
				            <div class="col-xs-12 col-sm-12">
					            <div class="form-group">
                                    <label>Title</label>
						            <input id="Title" name="Title" class="form-input" type="text" placeholder="Write down the Title" required>
					            </div>
				            </div>
				            <div class="col-xs-12">									
					            <div class="form-group">
						            <textarea id="Content" name="Content" class="form-input" required="" placeholder="Content of the Post" required></textarea>
					            </div>
				            </div>
				            <button type="submit" class="btn btn-primary pull-right">Submit</button>
			            </div>
		            </form>
                </div>
                <ul id="idListPost" class="xsearch-items">
                    @foreach (var post in Model)
                    {
                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="/BlogEngine/DetailPost?idPost=@post.IdPost">@post.Title</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="time">@post.PublishedDate.ToString("MMMM dd, yyyy").‎</li>
                                        <li><a href="#">Status: @post.Status</a></li>
                                    </ul>
                                </div>
                                <div>
                                    @post.Content
                                </div>
                            </div>
                        </li>                        
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#btnCreatePost").on('click', function (event) {
                $('#createForm').show();
                $('#idListPost').hide();
                $('#btnCreatePost').hide();
                
            });
        });
    </script>
}

