﻿@model Zemoga.BlogEngine.Web.Models.LoginModelVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row  vertical-offset">
        <div class="col-md-4">
        </div>
        <div class="col-md-offset-4 col-md-4">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { role = "form" }))
                {
                    <div class="tittle">@ViewBag.Title</div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" >
                        <input type="submit" value="Login" class="btn btn-lg btn-info btn-block" style="margin-top: 10px !important;"/>
                    </div>
                }
                <span style="color: red;">@ViewBag.Error</span>
            </section>
        </div>
    </div>
</div>


