body {
    background: #f2f3f8;
    margin-top: 0px;
}


.page.has-sidebar.bordered .page-header {
    margin-bottom: 0;
}

.page.has-sidebar.bordered .page-inner {
    padding-bottom: 0;
    padding-top: 0px;
}

.page.has-sidebar.bordered .left-side-sidebar {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page.has-sidebar.bordered .right-side-sidebar {
    padding-top: 50px;
    padding-bottom: 50px;
}

.has-sidebar.bordered.has-right-sidebar .left-side-sidebar {
    border-right: 1px solid rgba(0,0,0,0.1) !important;
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.715) !important;
    padding-right: 45px;
}

.has-sidebar.bordered.has-right-sidebar .right-side-sidebar {
    padding-left: 40px;
}

.has-sidebar.bordered.has-left-sidebar .right-side-sidebar {
    padding-left: 45px;
}

.has-sidebar.bordered.has-left-sidebar .left-side-sidebar {
    border-right: 1px solid rgba(0,0,0,0.1) !important;
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.715) !important;
    padding-right: 40px;
}

.page.has-sidebar .left-side-sidebar {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page.has-sidebar .page-inner {
    padding-bottom: 0;
    padding-top: 0px;
}

.page.has-sidebar .right-side-sidebar {
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border: 1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

    .be-comment-content span {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
    }

.be-comment-content a {
    color: blue;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
    color: blue !important;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

.vertical-offset {
    padding-top: 100px;
}

#loginForm {
    border: 10px solid #EFEFEF;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.49);
}

#loginForm .tittle {
    background-color: #F7F7F7;
    margin: -20px -20px 20px -20px;
    padding: 20px 20px;
    font-size: large;
    font-weight: lighter;
}

